# data
/data/

models/

logs/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log

# IDEs and Editors
.vscode/

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig
*.DS_Store

*.csv
*.json

# Exception: allow JSON files in config directory
!temporal_embeddings/config/*.json

.env

temporal_embeddings/heideltime_py/resources/

# uv
.venv/